.cart-page-container {
  border: 1px solid rgba(128, 128, 128, 0.5);
  min-height: 700px;
  background-color: white;
  width: 100%;
  margin-top: 100px;
}

@media screen and (min-width: 48rem) {
  .cart-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
